.coming-page-wrapper {
  position: relative;
  text-align: center;
  padding-top: 31px;
  padding-bottom: 31px;

  .form {
    input:not([type="submit"]),
    textarea {
      width: 100%;
      border: 2px solid #eeeeee;
      padding: 10px 24px;
      font-size: 15px;
      font-weight: 600;
      color: #f54ea2;
      line-height: 1.6;
      letter-spacing: .2px;
      -webkit-transition: all 350ms ease;
      transition: all 350ms ease;
      margin-bottom: 30px;
      &:focus {
        border: 2px solid #f54ea2;
      }
    }
    input:not([type="submit"]) {
      min-height: 59px;
      float: left;;
    }
    .wpcf7-form-control-wrap:first-of-type,
    .wpcf7-form-control-wrap:nth-of-type(2) {
      display: block;
    }

    .wpcf7-form-control-wrap:first-of-type{
      margin-right: 30px;
    }
    input::-webkit-input-placeholder {
      opacity: .6;
      color: #222222;
    }
    input::-moz-placeholder {
      opacity: .6;
      color: #222222;
    }
    input:-ms-input-placeholder {
      opacity: .6;
      color: #222222;
    }
    input:-moz-placeholder {
      opacity: .6;
      color: #222222;
    }

    p {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }
  .title {
    font-family: "Muli", sans-serif;
    margin: 0 0 7px 0;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 0.2px;
    text-align: center;
    color: #222222;
    word-break: break-word;
  }
  .subtitle {
    font-family: "Muli", sans-serif;
    margin: 24px 0 70px;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.2px;
    color: #999999;
    word-break: break-word;
  }
}

/*Coming soon counter*/
.coming-soon-wrap {
  position: relative;
  height: 190px;
  margin-bottom: 76px;
}

.coming-soon-bg {
  position: absolute;
  z-index: 0;
  left: 1px;
  top: 1px;
  right: 1px;
  bottom: 1px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.coming-soon {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 .count {
   font-family: "Muli", sans-serif;
   font-size: 90px;
   font-weight: 800;
   letter-spacing: 0.4px;
   line-height: normal;
   text-align: center;
   color: #f54ea2;
   text-shadow: -10px 0px 0px #ffdd65;
 }
  .mask {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 1170px;
    padding: 0 160px;
    margin: 0 auto;
  }
  .days-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.coming-soon-descr {
  font-family: "Muli", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2px;
  color: #222222;
}

@media (max-width: 1199px) {
  .coming-page-wrapper .subtitle {
    margin-bottom: 50px;
  }
  .coming-soon-wrap {
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .coming-page-wrapper .subtitle {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .coming-soon-wrap {
    height: 250px;
    .mask {
      padding: 0;
    }
  }
}

@media (max-width: 768px) {
  .coming-page-wrapper .form input:not([type="submit"]),
  .coming-page-wrapper .form textarea{
    margin-bottom: 20px;
  }
  .coming-soon-wrap{
    margin-bottom: 20px;
  }
  .coming-page-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 70px;
    box-sizing: border-box;
  }
  .coming-page-wrapper .title {
    font-size: 30px;
    padding: 0 15px;
  }
  .coming-page-wrapper .subtitle {
    max-width: 400px;
    margin-bottom: 40px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .coming-soon-wrap {
    height: 110px;
  }
  .coming-soon {
    .days-wrap {
      padding: 0 10px;
    }
    .count {
      font-size: 50px;
    }
  }
}

@media (max-width: 480px) {
  .coming-page-wrapper {
    .form {
      p {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
      .wpcf7-form-control-wrap {
        &:first-of-type {
          margin-right: 0;
          width: 100%;
        }
      }
      &.btn-style-4 {
        input:not([type="submit"]) {
          margin-bottom: 30px;
        }
        p {
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
        }
      }
    }
  }
  .coming-soon {
    .count {
      font-size: 40px;
      text-shadow: -5px 0px 0px #ffdd65;
    }
  }
}

.wpcf7{
  & *{
    text-transform: none;
  }
  .ajax-loader{
    display: none!important;
  }
  .input_protected_wrapper{
    position: relative;
    display: inline-block;
    margin-left: 6px;
    &::before{
      content: '';
      position: absolute;
      left: -6px;
      top: 8px;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: #ffdd65;
      -webkit-transition: all 250ms ease;
      transition: all 250ms ease;
    }
    input{
      font-size: 14px;
      display: inline-block;
      letter-spacing: .5px;
      font-family: "Muli", sans-serif;
      font-weight: bold;
      box-sizing: border-box;
      line-height: 1;
      padding: 20px 38px;
      text-decoration: none;
      border: none;
      background-color: #f54ea2;
      color: #ffffff;
      position: relative;
      -webkit-font-smoothing: antialiased;
      -webkit-transition: all 350ms ease;
      transition: all 350ms ease;
    }
    &:hover{
      input{
        opacity: 1;
      }
      &::before{
        top: 4px;
        left: -3px;
      }
    }
  }
}
.form{
  &.btn-style-2{
    .wpcf7-form-control-wrap {
      margin-right: 0!important;
    }
    .input_protected_wrapper{
      margin-left: 0;
      &::before{
        display: none;
      }
      input{
        min-height: 59px;
        background-color: #fff;
        color: #222;
      }
      &:hover{
        input{
          background-color: #f54ea2;
          color: #fff;
        }
      }
    }
  }
  &.btn-style-3{
    .wpcf7-form-control-wrap {
      margin-right: 0!important;
    }
    .input_protected_wrapper{
      margin-left: 0;
      &::before{
        display: none;
      }
      input{
        min-height: 59px;
        background-color: #f54ea2;
        color: #fff;
      }
      &:hover{
        input{
          background-color: #fff;
          color: #222;
        }
      }
    }
  }
  &.btn-style-4{
     .input_protected_wrapper{
       position: relative;
       display: inline-block;
       margin-left: 0;
       &::before{
         content: '';
         position: absolute;
         left: 0;
         top: auto;
         bottom: -6px;
         width: 100%;
         height: 15px;
         z-index: -1;
         background-color: #ffdd65;
         -webkit-transition: all 350ms ease;
         transition: all 350ms ease;
       }
       input{
         font-size: 18px;
         font-weight: 800;
         display: inline-block;
         letter-spacing: .5px;
         font-family: "Muli", sans-serif;
         box-sizing: border-box;
         line-height: 1;
         padding: 0;
         text-decoration: none;
         border: none;
         background-color: transparent;
         color: #222;
         position: relative;
         -webkit-font-smoothing: antialiased;
         -webkit-transition: all 350ms ease;
         transition: all 350ms ease;
       }
       &:hover{
         input{
           opacity: 1;
         }
         &::before{
           height: -webkit-calc(100% + 9px);
           height: calc(100% + 9px);
           top: auto;
           left: 0;
         }
       }
     }
     input:not([type="submit"]) {
       margin-bottom: 0;
     }
     p {
       -webkit-box-align: center;
       -ms-flex-align: center;
       align-items: center;
     }
   }
}