//SLIDER WITH BACKGROUND STYLE
.main-header-testimonial.modern {
  position: relative;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 123px 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  > * {
    word-break: break-all;
    text-transform: none;
  }

  .content-slide {
    max-width: 970px;
    margin: auto;

    .description {
      padding: 0 25px;
      margin-bottom: 30px;
      p {
        font-size: 25px;
        font-family: "Muli", sans-serif;
        color: #222;
        font-weight: 800;
        line-height: 1.8;
        margin-bottom: 15px;
        letter-spacing: .2px;
        &::before {
          display: block;
          margin-bottom: 55px;
          color: #f54ea2;
          font-family: "FontAwesome", sans-serif;
          font-size: 50px;
          content: "\f10e";
        }
        &:empty {
          display: none;
        }
      }
    }
    .user-info {
      text-align: left;
    }
    .name {
      font-size: 18px;
      font-weight: 800;
      line-height: 1.2;
      letter-spacing: 0.2px;
      margin-top: 3px;
    }
    .user {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    .position {
      font-size: 14px;
      letter-spacing: 0.2px;
      color: #999;
    }
    .logo-customer {
      display: block;
      height: 80px;
      width: 80px;
      margin-right: 25px;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      position: relative;
    }

  }
  .swiper3-button-next,
  .swiper3-button-prev {
    background-image: none;
    top: calc(50% - -90px);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    &::before {
      color: #d1d0d0;
      font-family: "Ionicons", sans-serif;
      font-size: 20px;
    }
  }
  .swiper3-button-next {
    right: 5px;
    &::before {
      content: "\f125";
    }
  }
  .swiper3-button-prev {
    left: 5px;
    &::before {
      content: "\f124";
    }
  }
  .bg-text {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    color: #f7f7f7;
    font-size: 190px;
    font-weight: 800;
  }
}

  .main-header-testimonial .swiper3-slide {
    cursor: ew-resize;
  }
@media only screen and (max-width: 1300px) {
  .main-header-testimonial.modern {
    .bg-text {
      font-size: 150px;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .main-header-testimonial.modern {
    .bg-text {
      font-size: 140px;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .main-header-testimonial.modern {
    .bg-text {
      font-size: 80px;
    }
  }
}
  @media only screen and (max-width: 991px) {
    .main-header-testimonial.modern {
      padding: 90px 0 90px;
      .title {
        margin-bottom: 40px;
      }
      .content-slide {
        padding: 0 30px;
        .description p {
          font-size: 24px;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .main-header-testimonial.modern {
      padding: 20px 0 0;
      .pagination {
        margin: 33px 0 0 !important;
      }
      .content-slide {
        .description p {
          font-size: 20px;
        }
      }
    }
  }

  //CLASSIC SLIDER STYLE
  .main-header-testimonial.classic_sl {
    .swiper3-container {
      width: -webkit-calc(100% + 100px);
      width: calc(100% + 100px);
    }
    & * {
      text-transform: none;
    }
    .swiper3-slide {
      padding: 0 15px;
    }
    .stars {
      color: #ffdd65;
      margin-bottom: 10px;
      span {
        display: inline-block;
        margin-right: -2px;
      }
      &.one {
        span:nth-child(1) {
          &::before {
            content: "\f005";
          }
        }
      }
      &.two {
        span:nth-child(1),
        span:nth-child(2) {
          &::before {
            content: "\f005";
          }
        }
      }
      &.three {
        span:nth-child(1),
        span:nth-child(2),
        span:nth-child(3) {
          &::before {
            content: "\f005";
          }
        }
      }
      &.four {
        span:not(:last-of-type) {
          &::before {
            content: "\f005";
          }
        }
      }
      &.five {
        span {
          &::before {
            content: "\f005";
          }
        }
      }
    }
    .swiper3-pagination {
      width: 100%;
      margin-top: 30px;
      bottom: 0;
      span {
        width: 30px;
        height: 5px;
        display: inline-block;
        margin-right: 5px;
        margin-left: 5px;
        border-radius: 0;
        background-color: #999999;
        &.swiper3-pagination-bullet-active {
          background-color: #f54ea2;
        }
      }
    }
    .content-slide {
      padding-bottom: 100px;
      .info-wrap {
        padding: 46px 50px;
        background-color: #ffffff;
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.06);
        position: relative;
        &::before {
          content: '';
          display: inline-block;
          position: absolute;
          left: 50px;
          top: 100%;
          border: 14px solid transparent;
          border-top: 15px solid #fff;
        }
      }
      .logo-customer {
        height: 60px;
        width: 60px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        float: left;
        margin-right: 15px;
      }
      .user {
        margin-top: 40px;
        margin-left: 35px;
      }
      .text {
        font-size: 15px;
        line-height: 1.6;
        letter-spacing: 0.2px;
        color: #222;
        opacity: .6;
        word-break: break-word;
      }
      .name {
        font-size: 15px;
        font-weight: 800;
        letter-spacing: .2px;
        color: #222222;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      .position {
        font-size: 13px;
        letter-spacing: .2px;
        color: #222;
        opacity: .6;
      }
    }
  }

  @media only screen and (max-width: 991px) {
    .main-header-testimonial.classic_sl .swiper3-container {
      width: 100%;
    }
    .main-header-testimonial.classic_sl .content-slide .info-wrap {
      padding: 30px;
    }
    .main-header-testimonial.classic_sl .content-slide {
      padding-bottom: 70px;
    }
    .main-header-testimonial.classic_sl .swiper3-pagination span {
      width: 20px;
      margin-right: 3px;
      margin-left: 3px;
    }
  }

  @media only screen and (max-width: 767px) {
    .main-header-testimonial.classic_sl .swiper3-pagination {
      margin-top: 15px;
    }

  }

  //SIMPLE SLIDER STYLE
  .main-header-testimonial.simple_sl {
    & * {
      text-transform: none;
    }
    .swiper3-slide {
      padding: 0 15px;
      padding-bottom: 30px;
    }
    .stars {
      color: #ffdd65;
      margin-bottom: 10px;
      span {
        display: inline-block;
        margin-right: -2px;
      }
      &.one {
        span:nth-child(1) {
          &::before {
            content: "\f005";
          }
        }
      }
      &.two {
        span:nth-child(1),
        span:nth-child(2) {
          &::before {
            content: "\f005";
          }
        }
      }
      &.three {
        span:nth-child(1),
        span:nth-child(2),
        span:nth-child(3) {
          &::before {
            content: "\f005";
          }
        }
      }
      &.four {
        span:not(:last-of-type) {
          &::before {
            content: "\f005";
          }
        }
      }
      &.five {
        span {
          &::before {
            content: "\f005";
          }
        }
      }
    }
    .swiper3-pagination {
      width: 100%;
      margin-top: 30px;
      bottom: 0;
      span {
        width: 30px;
        height: 5px;
        display: inline-block;
        margin-right: 5px;
        margin-left: 5px;
        border-radius: 0;
        background-color: #fff;
        &.swiper3-pagination-bullet-active {
          background-color: #fff;
        }
      }
    }
    .content-slide {
      padding: 55px 36px;
      margin-bottom: 68px;
      background-color: #ffffff;
      box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.06);
      position: relative;
      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 42px;
        top: 100%;
        border: 14px solid transparent;
        border-top: 15px solid #fff;
      }
      .info-wrap {
        margin-bottom: 80px;
      }
      .logo-customer {
        height: 60px;
        width: 60px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        float: left;
        margin-right: 15px;
        margin-bottom: 10px;
      }
      .user {
        margin-top: 86px;
      }
      .text {
        font-size: 15px;
        line-height: 1.6;
        letter-spacing: 0.2px;
        color: #222;
        opacity: .6;
        word-break: break-word;
      }
      .name {
        font-size: 15px;
        font-weight: 800;
        letter-spacing: .2px;
        color: #222222;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      .position {
        font-size: 13px;
        letter-spacing: .2px;
        color: #222;
        opacity: .6;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .main-header-testimonial.simple_sl .content-slide .info-wrap,
    .main-header-testimonial.simple_sl .content-slide {
      margin-bottom: 40px;
    }
    .main-header-testimonial.simple_sl .content-slide .user {
      margin-top: 40px;
    }
    .main-header-testimonial.simple_sl .content-slide .logo-customer {
      margin-bottom: 20px;
    }
    .main-header-testimonial.modern {
      .content-slide {
        .description {
          margin-bottom: 30px;
          p {
            &::before {
              margin-bottom: 0;
            }
          }
        }
      }
      .swiper3-button-next,
      .swiper3-button-prev {
        display: none;
      }
      .bg-text {
        font-size: 120px;
      }
    }
  }

//SLIDER LEFT ALIGN

.main-header-testimonial.left_align{
  .content-slide{
    padding: 0 15px;
    *{
      text-transform: none;
    }
    .logo-customer{
      height: 130px;
      width: 130px;
      margin-right: 70px;
      border-radius: 50%;
      display: block;
      background-position: center;
      background-size: cover;
      float: left;
    }
    .description{
      font-weight: 800;
      overflow: hidden;
      letter-spacing: .2px;
      p{
        color: #222;
        font-size: 24px;
        line-height:1.8;
        & > *{
          color: inherit;
        }
      }
    }
    .user-info{
      margin-top: 65px;
      .name,
      .position{
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: .2px;
        color: #222;
      }
      .position{
        margin-top: 9px;
        font-size: 14px;
        font-weight: 400;
        color: #999;
      }
    }
  }
  .swiper3-pagination{
    text-align: right;
    position: static;
    span{
      height: 8px;
      width: 8px;
      margin: auto 10px;
      border-radius: 50%;
      opacity: 1;
      background-color: #222;
      display: inline-block;
      position: relative;
      &::before{
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border: 1px solid transparent;
        transition: all 350ms ease;
      }
      &.swiper3-pagination-bullet-active::before{
        border: 1px solid #222;
      }
    }
  }
}

@media only screen and (max-width: 767px){
  .main-header-testimonial.left_align .content-slide .logo-customer{
    float: none;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 45px;
  }
  .main-header-testimonial.left_align .content-slide .user-info{
    margin-bottom: 35px;
  }
  .main-header-testimonial.left_align .content-slide .description {
    text-align: center;
    p{
      font-size: 20px;
    }
  }

  .main-header-testimonial.left_align .content-slide .user-info{
    margin-top: 45px;
  }
}


.light-marker{
  .main-header-testimonial.left_align .swiper3-pagination span{
    background-color: #ffffff!important;
  }
  .main-header-testimonial.left_align .swiper3-pagination span.swiper3-pagination-bullet-active::before{
    border-color: #ffffff!important;
  }
}
